# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dataset
media/*
*.jpg
*.mp4
*.xls
*.bin
*.obj
*.ply
*.xyz
*.png
*.csv
*.txt
*.TIF
*.JPG
*.saa

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.ipch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Python
.idea/*
*.pyc
*.xml
results/tuning/*

# Executables
*.exe
*.out
*.app

# Numpy
*.npy

# Pickle
*.p

# Keras
*.h5
logs/*
